	/*-----reset css----------------*/
	body {
  line-height: 1;
  color: black;
  background: white;
}


ol, ul {
  list-style: none;
}


table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


q, blockquote {
  quotes: "" "";
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}


a img {
  border: none;
}
	/*-----reset css----------------*/
	body {
		margin:0;
	}
	/*-------------index-------------------*/
	div.pasek{
		overflow:hidden;
		padding:5px 0px 15px 0px;
		background:#B42020;
		height:44px;
		width:100%;
		margin:0 0 0 0;
	}

		.pasek h1 {
			color:#fff;
			margin:5px 0px 0px 10px;
			font:bold 36px Arial;
			float:left;
		}
		
		.pasek ul.navigate  {
		float:right;
		font:13px Arial;
		letter-spacing:0.05em;
		color:white;
		margin:18px 13px 0px 0px;
			}
			
				.pasek ul.navigate li  { 
					display:inline; 
					border-right:1px solid white;	
				}
				
					.pasek ul.navigate li a {
						margin:0 0 0 0;
						font:13px Arial;
						color:white;
						padding-left:5px;
						text-decoration:none;
					}
					
					#a1 { font-weight:bold; }
					
		div.index{
		height:169px;
		}
	
			h2 {	
				font:bold 48px "arial Black";
				margin:0 0 0 12px;	
			}
				
				
			p {
				margin:0 0 0 12px;
				font:italic 24px Georgia;
				color:#8f8f8f;
			}
	
	
	
			.index a {
				font:italic 18px Georgia;
				color:#b42020;
				margin-left:13px;
			}

	
			.index ul.wpisy { 
				margin:0;
				padding:0; 
				}
				.index ul.wpisy li {
					display:block;
					font:Italic 24px Georgia;
					color:#8f8f8f;
					margin:0 0 0 14px;	
				}

	/*-------------index-------------------*/
	
	

	
	
	/* --------------form-------------*/
	.pole{ 
		overflow:hidden;
		width:460px;
		}
	label,.text{
		float:left;
		width:50px;
	}
	
	.submit { float:right}
	
	textarea{ 
		width:450px;
		height:150px;
		}
	
	.text{width:400px;}
	
	label { font:16px Arial;}
	
	form {
		width:460px;
		margin:0 auto;
		}
		
	/* --------------form-------------*/
	 line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss /
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


